<div id="center_options">
  <form id="choose_keyboard" action="/keyboards/select" method="GET">
    <select name="keyboard_selector" id="keyboard_selector">
      <option selected="selected">Please choose your keyboard...</option>
      <option value="0">Low C</option>
      <option value="1">Middle C</option>
      <option value="2">Middle High C</option>
      <option value="3">High C</option>
    </select>
  </form>

    <select name="wave_selector" id="wave_selector">
      <option selected="selected">Please select here to make all key tones the same...</option>
      <option value="0">Sine</option>
      <option value="1">Square</option>
      <option value="2">Sawtooth</option>
      <option value="3">Triangle</option>
    </select>
    <br>
    <select name="pan_selector" id="pan_selector">
      <option selected="selected">Please select here to pan the sound to one side...</option>
      <option value="0">L</option>
      <option value="1">R</option>
    </select>
</div>

<div id="keyboard_location">
</div>

<script type="text/javascript">

  $(document).on('change', '#keyboard_selector', function(event) {
    event.preventDefault();

    var selected = $('#keyboard_selector').val();
    var url = $('#choose_keyboard').attr('action');

    $.get(url, {selection: selected}, function(serverResponse) {
      $('#keyboard_location').html(serverResponse);
    })
  });//

  $(document).ready(function() {

    $("#wave_selector").change(function() {

        var val = $(this).val();

        if (val == "0") {
          for (var i = 1; i <= 18; i++) {
            $("#wave_" + i).html("<option value='0'>Sine</option><option value='1'>Square</option><option value='2'>Sawtooth</option><option value='3'>Triangle</option>")
          }
        } else if (val == "1") {
          for (var i = 1; i <= 18; i++) {
            $("#wave_" + i).html("<option value='1'>Square</option><option value='0'>Sine</option><option value='2'>Sawtooth</option><option value='3'>Triangle</option>")
          }
        } else if (val == "2") {
          for (var i = 1; i <= 18; i++) {
            $("#wave_" + i).html("<option value='2'>Sawtooth</option><option value='1'>Square</option><option value='0'>Sine</option><option value='3'>Triangle</option>")
          }
        } else if (val == "3") {
            for (var i = 1; i <= 18; i++) {
            $("#wave_" + i).html("<option value='3'>Triangle</option><option value='0'>Sine</option><option value='1'>Square</option><option value='2'>Sawtooth</option>")
          }
        }
    });

    $("#pan_selector").change(function() {

        var val = $(this).val();

        if (val == "0") {
          for (var i = 1; i <= 18; i++) {
            console.log("here");
            $("#panner_" + i).attr('value', '-3');
          }
        } else if (val == "1") {
          for (var i = 1; i <= 18; i++) {
            $("#panner_" + i).attr('value', '3');
          }
        }
    });

  });





</script>
